<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title  %> </title>
    <link rel="stylesheet" href="../../public/styles.css">
</head>
<body>
    <%- include('nav.ejs') %> 

    <h2>Update Booking Information</h2>

   <div class="rowUpdate">
       <div class="updateImg colUpdate"></div>

       <form action="/bookingInfo/update/:id" method="post" class="updateForm colupdate">


        <input type="hidden" name="id" value="<%= data[0].id %>"/>


        <div class="container">

            <div class="colUpdate">
                <label for="">Campany Name:</label>
                <select name="tour_ref_num" id="tour_ref_num" value="<%= data[0].tour_ref_num %>">
                    <option value="1">Dolphin Cove</option>
                    <option value="2">Dream Tours</option>
                    <option value="3">Camelious Tours</option>
                    <option value="4">Scarlet Tours</option>
                    <option value="5">Pleasure Tours</option>
                    <option value="6">Sure Tours</option>
                    <option value="8">Caribbean Tours</option>
                    <option value="9">Luxury Tours</option>
                </select>

                <br><br>
                <pre></pre>

                <label for="">Voucher Number:
                    <input type="text" name="ticket_num" value="<%= data[0].ticket_num %>" placeholder="<%= data[0].ticket_num %>" />
                </label>
        
            </div>

            <div class="colUpdate">

                <label for="">Registration Date:
                    <input type="date" name="date_of_booking" value="<%= new Date(data[0].date_of_booking).toLocaleDateString('fr-CA') %>" placeholder="<%= new Date(data[0].date_of_booking).toLocaleDateString('fr-CA') %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Name of Guest:
                    <input type="text" name="guest_nm" value="<%= data[0].guest_nm %>" placeholder="<%= data[0].guest_nm %>" />
                </label>
                
            </div>

            <div class="colUpdate">
               
                <label for="">Hotel Staying:
                    <input type="text" name="hotel_staying" value="<%= data[0].hotel_staying %>" placeholder="<%= data[0].hotel_staying %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Package Selected:</label>
                <select name="package_id" id="package_nm" value="<%= data[0].package_nm %>"> 
                    <option value="1">Dolphin Royal Swim</option>
                    <option value="2">Dolphin Swim Adventure</option>
                    <option value="3">Encounter</option>
                    <option value="4">Admission Plus</option>
                    <option value="5">Shark Encounter</option>
                </select>

                <br><br>
                <pre></pre>

                <label for="">Reservation Date:
                    <input type="date" name="sche_date" value="<%= new Date(data[0].sche_date).toLocaleDateString('fr-CA') %>" placeholder="<%= new Date(data[0].sche_date).toLocaleDateString('fr-CA') %>" />
                </label>

            </div>

            <div class="colUpdate">

                <label for="">Number of Adult(s):
                    <input type="text" name="adult_num" value="<%= data[0].adult_num %>" placeholder="<%= data[0].adult_num %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Number of Children:
                    <input type="text" name="child_num" value="<%= data[0].child_num %>" placeholder="<%= data[0].child_num %>" />
                </label>
                
                <br><br>
                <pre></pre>

                <label for="">Total Cost: 
                    <input type="text" name="total_cost" value="<%= data[0].total_cost %>" placeholder="<%= data[0].total_cost %>" />
                </label>

                <br><br>
            <pre></pre>
                
            </div>

            
            <div class="colUpdate">
               
                <pre></pre>

                <label for="">Payment Method:</label>
                <select name="pay_id" id="pay_id" value="<%= data[0].pay_method %>">
                    <option value="1"> Cash</option>
                    <option value="2">Credit Card</option>
                    <option value="3">Debit Card</option>
                    <option value="4">Bank Deposit</option>
                    <option value="5">Mobile Payment</option>
                </select>
            </div>

            
        </div>

        <div class="submitUpdate">
            <button type="submit">Submit Changes</button>
        </div>
    </form>
   </div>
    

</body>
</html>