<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title  %> </title>
    <link rel="stylesheet" href="../../public/styles.css">
</head>
<body>
    <%- include('nav.ejs') %> 

    <h2>Update Booking Information</h2>

   <div class="row">
       <div class="updateImg col"></div>

       <form action="/bookingInfo/update/:id" method="post" class="updateForm col">


        <input type="hidden" name="id" value="<%= data[0].id %>"/>


        <div class="container">

            <div class="dateInfo col">
                <label for="">Campany Name:
                    <input type="text" name="tour_ref_num" value="<%= data[0].company_nm %>" placeholder="<%= data[0].company_nm %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Voucher Number:
                    <input type="text" name="ticket_num" value="<%= data[0].ticket_num %>" placeholder="<%= data[0].ticket_num %>" />
                </label>
        
            </div>

            <div class="netIncome col">

                <label for="">Registration Date:
                    <input type="date" name="date_of_booking" value="<%= new Date(data[0].date_of_booking).toLocaleDateString('fr-CA') %>" placeholder="<%= new Date(data[0].date_of_booking).toLocaleDateString('fr-CA') %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Name of Guest:
                    <input type="text" name="guest_nm" value="<%= data[0].guest_nm %>" placeholder="<%= data[0].guest_nm %>" />
                </label>
                
            </div>

            <div class="netIncome col">
               
                <label for="">Hotel Staying:
                    <input type="text" name="hotel_staying" value="<%= data[0].hotel_staying %>" placeholder="<%= data[0].hotel_staying %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Package Selected:
                    <input type="text" name="package_id" value="<%= data[0].package_nm %>" placeholder="<%= data[0].package_nm %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Reservation Date:
                    <input type="date" name="sche_date" value="<%= new Date(data[0].sche_date).toLocaleDateString('fr-CA') %>" placeholder="<%= new Date(data[0].sche_date).toLocaleDateString('fr-CA') %>" />
                </label>

            </div>

            <div class="netIncome col">

                <label for="">Number of Adult(s):
                    <input type="text" name="adult_num" value="<%= data[0].adult_num %>" placeholder="<%= data[0].adult_num %>" />
                </label>

                <br><br>
                <pre></pre>

                <label for="">Number of Children:
                    <input type="text" name="child_num" value="<%= data[0].child_num %>" placeholder="<%= data[0].child_num %>" />
                </label>
                
                <br><br>
                <pre></pre>

                <label for="">Total Cost:
                    <input type="text" name="total_cost" value="$<%= data[0].total_cost %>" placeholder="<%= data[0].total_cost %>" />
                </label>

                <br><br>
            <pre></pre>
                
            </div>

            
            <div class="netIncome col">
               
                <pre></pre>

                <label for="">Payment Method:
                    <input type="text" name="pay_id" value="<%= data[0].pay_method %>" placeholder="<%= data[0].pay_method %>" />
                </label>
            </div>

            
        </div>

        <div class="submitUpdate">
            <button type="submit">Submit Changes</button>
        </div>
    </form>
   </div>
    

</body>
</html>