<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles.css">
    <style>
        form {
            margin: 5% 0 0 28%;
            width: 800px;
            height: 550px;
        }
        .dateInfo {
            width: 100%;
            margin-bottom: 2%;
        }
        button {
            padding: 8px;
            width: 25%;
            margin: 3%;
            background-color: rgba(19, 4, 231, 0.9);
            color: white;
            font-size: 1.1em;
            border-radius: 15px;
            border: none;
        }
        button:hover {
            background-color: gold;
            color: black;
        }
        .container {
            width: 90%;
            display: flex;
            border: 2px solid blue;
        }
        .col {
            flex: 50%;
            margin-right: 2%;
            justify-content: space-around;
           
            height: 170px;
            padding: 2%;
        }
        .col input {
            padding: 5px;
            width: 50%;
        }
        .col input[name="date"] {
            width: 64%;
            margin-left: 19%;
        }
        .col input[name="net_pay"] {
            margin-left: 5%;
        }
        .col label {
            font-weight: bold;
        }

    </style>
</head>
<body>

    <%- include('nav.ejs') %> 

    <h2>Update Tour Company Information</h2>
    
    <form action="/tour_com/update/:id" method="post">


        <input type="hidden" name="id" value="<%= data[0].id %>"/>


        <div class="container">

            <div class="dateInfo col">
                <label for="">Company Name:
                    <input type="text" name="tour_ref_num" value="<%= data[0].tour_ref_num %>" placeholder="<%= data[0].tour_ref_num %>" />
                </label>
                <br><br>
                <pre></pre>

                <label for="">Registration Date:
                    <input type="date" name="reg_date" value="<%= new Date(data[0].reg_date).toLocaleDateString('fr-CA') %>" placeholder="<%= new Date(data[0].reg_date).toLocaleDateString('fr-CA') %>" />
                </label>
                <br><br>
                <pre></pre>

                <label for="">Company Name:
                    <input type="text" name="company_nm" value="<%= data[0].company_nm %>" placeholder="<%= data[0].company_nm %>" />
                </label>
            </div>

            <div class="netIncome col">
                <label for="">Address:
                    <input type="text" name="address" value="<%= data[0].address %>" placeholder="<%= data[0].address %>" />
                </label>
                <br><br>
                <pre></pre>

                <label for="">Telephone Number:
                    <input type="text" name="tel_num" value="<%= data[0].tel_num %>" placeholder="<%= data[0].tel_num %>" />
                </label>
            </div>

            
        </div>

        <div class="submitUpdate">
            <button type="submit">Submit Changes</button>
        </div>
    </form>


</body>
</html>